body{
     margin: 0;
     background-color: blueviolet;

}
.button{
    background-color: purple;
    border: red solid 5px;
    color: whitesmoke;
    padding: 15px 15px;
    text-align: center;
    display:inline-block;
    font-size: 20px;
    margin: 8px 8px





  

}


}