@import './variables';

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    @include flexcenter();
    
    background: red;
    height: 100vh;
    button{
        background: $primaryBtn;
        }
        
}


